/* blog-post-title-font = bold 24px 'Play', arial, serif */
/* blog-date-color = #ccc */

#blog-welcome {
  .page-icon {
    position: absolute;
  }
}

#blog {
  margin-top: 30px;

  code {
    font-style: normal;
    background-color: #fcffdd;
    padding: 0 2px;
    border: 1px solid #ccc;
    color: #999;
    border-radius: 2px;
  }

  .posts {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .year {
      color: #ccc;  /* blog-date-color */
      display: block;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 28px;
      text-shadow: #fff 0 1px 1px;
      font-weight: bold;
    }

    .post-title {
      display: block;
      margin-left: 34px;
      text-shadow: #fff 0 1px 1px;
      margin-bottom: 10px;
      white-space: nowrap;
    }

    .post-date {
      color: #ccc;  /* blog-date-color */
      text-shadow: #fff 0 1px 1px;
      font-size: 14px;
      width: 106px;
      display: inline-block;
    }
  }

  .post-title {
    font: bold 24px 'Play', arial, serif;  /* blog-post-title-font */
    text-shadow: #fff 0 1px 1px;
    text-transform: none;
    display: block;
  }

  .blog-leftbar {
    padding-top: 6px;
  }

  .back-button {
    /* Expanded tiny-button() mixin */
    margin: 0;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font: bold 20px 'Play', arial, serif;
    color: #8d9198;
    border: 1px solid #ccc;
    padding: 2px 14px;
    text-shadow: #fff 0 1px 1px;
    text-align: left;
    border-radius: 8px;
    min-height: 38px;
    line-height: 38px;
    margin-bottom: 12px;
    box-shadow: 0 1px 4px #ccc;
    background-color: #fff;
    background: linear-gradient(to bottom, #fff, #f4f4f4);
    white-space: nowrap;
    transition: all 0.5s ease 0s;
    font: bold 10px 'Play', arial, serif;
    color: #8d9198;
    line-height: 22px;
    height: 22px;
    min-height: 22px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: #f3f3f3;
      background: linear-gradient(to bottom, #fff, #f8f8f8);
      border-color: #0f56b3;  /* selection-color */
    }

    i {
      transition: all 0.5s ease 0s;  /* tspeed */
      margin-right: 10px;
    }

    .trial-note {
      padding: 3px 29px;
      background-color: #658bbb;
      text-shadow: none;
      font-weight: normal;
      color: #fff;
      font-size: 9px;
      line-height: 8px;
      text-align: center;
      position: absolute;
      top: 11px;
      right: -32px;
      transform: rotate(45deg);
    }

    .price-note {
      padding: 3px 29px;
      background-color: #a2393c;
      text-shadow: none;
      font-weight: normal;
      color: #fff;
      font-size: 9px;
      line-height: 8px;
      text-align: center;
      position: absolute;
      top: 11px;
      right: -20px;
      transform: rotate(45deg);
    }

    & > div {
      padding: 0 4px;
      margin-left: 22px;
    }

    & > div {
      background: none;
    }
  }

  .article-info {
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 30px;
    padding: 8px 6px;
    background-color: #f7f7f7;
    color: #999;
    border-radius: 4px;
    box-shadow: 0 0 2px #aaa;

    & > span {
      display: inline-block;
      white-space: nowrap;
    }
  }

  .post-content {
    font-size: 12px;
    margin: 20px;

    pre {  /* terminal-like */
      border: 1px solid #000;
      box-shadow: 0 0 10px #666;
      border-radius: 3px;
      margin: 1em 0;
      margin-left: 10px;
      background-color: rgb(41, 41, 41) !important;
      padding: 10px;
      overflow: auto;
    }

    code {
      font-family: monospace;
      font-size: 12px;
      line-height: 1em;
      background-color: #f8f8ff !important;
      color: #444 !important;
      padding: 1px 4px !important;
      border: 1px solid #dedede !important;
      border-radius: 2px;
      white-space: nowrap;
    }

    pre > code {
      display: table;
      color: #ddd !important;
      padding: 0 !important;
      background-color: rgb(41, 41, 41) !important;
      border: none !important;
      white-space: pre;
    }

    p {
      margin-left: 10px;
      text-align: justify;
    }

    .fluid-object {
      margin-left: 10px;
    }

    .intro-icon {
      width: 64px;
      float: left;
      margin-right: 16px;
      margin-bottom: 30px;
      /* Expanded relative(top -6px) */
      position: relative;
      top: -6px;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      margin-top: 50px;
      clear: both;
    }

    h3 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-top: 40px;
      clear: both;
    }

    h4 {
      font-size: 14px;
      color: #000;
      margin-top: 40px;
      font-weight: bold;
      clear: both;
    }

    h5 {
      font-size: 14px;
      color: #000;
      margin-top: 20px;
      font-weight: normal;
      clear: both;
    }

    .blog-image {
      display: block;
      width: 100%;
      border-radius: 2px;
      box-shadow: 0 0 4px #aaa;
    }

    .footnote {
      clear: both;
      display: inline-block;
      font-size: 8pt;
      color: #999;
      padding: 2px 10px;
      margin-top: 20px;
      margin-left: 0;
      border-top: 1px solid #ddd;
    }
  }

  .blog-articles {
    text-align: right;
  }

  #comments {
    margin-bottom: 20px;
  }

  #post {
    margin-bottom: 50px;

    .sub {
      display: block;
      font-size: 9px;
      color: #666;
      font-weight: bold;
      padding-bottom: 4px;
      border-bottom: 1px solid #c3cbd3;
    }
  }

  .blog-side {
    margin-top: 40px;

    .blog-side-box {
      margin-bottom: 40px;
    }

    .blog-side-follow {
      position: relative;  /* Expanded relative() */
      background-color: #e9e9e9;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      height: 36px;
      line-height: 48px;
      font-weight: bold;
      text-shadow: #fff 0 1px 1px;
      margin-bottom: 10px;
      width: 250px;
      opacity: 0.5;
      transition: opacity 0.5s ease 0s;  /* tspeed */

      &:hover {
        opacity: 1;
      }

      .twitter-follow-button {
        margin: 0 10px;
      }
    }

    .blog-side-subscribe {
      position: relative;  /* Expanded relative() */
      width: 250px;
      background-color: #e9e9e9;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      height: 44px;
      line-height: 44px;
      font-weight: bold;
      text-shadow: #fff 0 1px 1px;
      opacity: 0.5;
      transition: opacity 0.5s ease 0s;  /* tspeed */

      &:hover {
        opacity: 1;
      }

      a {
        color: #393d44;  /* blog-post-title-color (undefined in constants, using product-title-color) */
      }

      .blog-side-icon {
        float: left;
        height: 28px;
        width: 28px;
        margin: 8px 10px;
      }

      .blog-rss-icon {
        background: transparent url('/shared/img/icons-blog.png') -29px 0 no-repeat;
      }

      .subscribe-button {
        /* Expanded absolute(top 0 left 120px) */
        position: absolute;
        top: 0;
        left: 120px;
      }
    }

    .blog-side-products {
      line-height: 16px;
      border-bottom: none;
      opacity: 0.5;
      transition: opacity 0.5s ease 0s;  /* tspeed */

      &:hover {
        opacity: 1;
      }

      .blog-side-product {
        padding: 8px 8px;

        a {
          text-decoration: none !important;
        }

        img {
          position: absolute;  /* Expanded absolute() */
          display: block;
          float: left;
          transition: all 0.2s ease;
        }

        .title {
          display: block;
          transition: color 0.5s ease 0s;  /* tspeed */
          font-weight: bold;
          font-size: 14px;
          padding-top: 5px;
          line-height: 14px;
          padding-left: 48px;
          color: #393d44;  /* product-title-color */
          text-shadow: #fff 0 1px 1px;
        }

        .info {
          display: block;
          padding-left: 48px;
          font-size: 10px;
          line-height: 12px;
          font-weight: normal;
          color: #888;  /* minor-link-color */
          text-shadow: #fff 0 1px 1px;
          padding-bottom: 2px;
        }

        &:hover .title {
          color: #0f56b3;  /* selection-color */
        }

        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }

  .blog-download {  /* http://blog.binaryage.org/totalfinder-alpha/ */
    clear: both;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

    img {
      float: left;
      margin-right: 20px;
      margin-left: 2px;
    }

    .download-link {
      font-size: 18px;
      line-height: 50px;
    }

    .download-link div {
      display: inline;
      position: relative;
      top: -10px;
    }

    .download-note {
      position: absolute;
      left: 80px;
      top: 26px;
    }
  }
}
