header-section-height = 40px
header-section-margin-top = 20px
sidebar-background-color = #f8f8f8
doc-side-title-color = #4A4C53
doc-side-font = bold 12px font-name, arial, serif
doc-side-title-font = bold 18px font-name, arial, serif

.doc-content
  margin-top 30px
  
  .sidebar
    margin-bottom 40px
  
    .content-sidebar
      background-color sidebar-background-color
      border-radius 4px
      padding 6px 20px
      box-shadow 0px 0px 4px #aaa

    .header-sidebar
      height header-section-height
      line-height 30px

      .back-button
        tiny-button()
      
    h2
      margin-top 20px
      font doc-side-title-font
      color doc-side-title-color
      text-shadow #FFF 0px 1px 1px
      line-height 14px
      
    ul, ol
      list-style-type none
      
    li 
      font doc-side-font
      line-height 15px
      
    li.selected
      
      i:before
        content "\f192" // fa-dot-circle-o
      
      a
        color selection-color

.doc-page
  .header-content
    height header-section-height

    .title
      margin-top 0
      font doc-main-title-font
      color doc-main-title-color
      text-shadow #FFF 0px 2px 1px
      line-height 30px
      font-weight bold

  .page-content
    position: relative
    margin 20px

  // terminal-like
  pre
    border 1px solid #000
    box-shadow 0px 0px 10px #666
    border-radius 3px
    margin 1em 0
    margin-left 40px
    background-color rgb(41,41,41) !important
    padding 10px
    overflow auto

  code
    font-family monospace
    font-size 12px
    line-height 1em
    background-color #f8f8ff !important
    color #444 !important
    padding 1px 4px !important
    border 1px solid #dedede !important
    border-radius 2px
    whitespace nowrap

  pre > code
    display table
    color #ddd !important
    padding 0 !important
    background-color rgb(41,41,41) !important
    border none !important
    whitespace pre
    
  .page-content
    h2, h3, h4, h5, h6
      font-weight bold
  
    h2
      margin-top 40px

    h2:first-child
      margin-top 0px

    h2:before,
    h2:after
      content: " "
      display: table

    h2:before
      clear both

    & > p
      padding-left 20px

    .keyboard-shortcuts
      width 400px
      background-color #fff
      border-radius 5px
      border 1px solid #aaa
      margin-bottom 20px

      table
        margin 0
        margin-left 10px
        margin-right 10px
        width 380px

      th
        border-bottom 1px solid #ccc

      td
        vertical-align top

    .keyboard-shortcuts.full
      width 690px

      table
        width 670px

    .license-desk
      box-shadow 0px 0px 4px #666
      margin-left 20px
      background-color: #fff
      border-radius 5px
      margin-bottom 10px
      padding 14px
      display inline-block

      .choice
        margin-top 10px

      .example
        font-size 11px
        color #999
        padding-left 10px

      .note
        font-size 11px
        color #999

    .exclamation
      font-weight bold
      color #fff
      background-color #a00
      display block

    .doc-pref
      position: relative
      max-width 500px
      top: -20px
      left: -26px

    .doc-image
      margin 10px 10px 20px 20px
      border-radius 5px
      box-shadow 0px 0px 2px #666

    .add-shadow
      box-shadow 0px 0px 10px #999

    .no-shadow
      box-shadow none

    .doc-inline-image
      display block
      position: relative
      left: -30px
      top: -20px
      margin-bottom: -40px

    .doc-inline-image-50
      display block
      position: relative
      left: -15px
      top: -10px
      margin-bottom: -40px
      width 50%

    .doc-main-image
      max-width 100%
      margin-bottom: 0px

    .doc-side
        margin-top 30px
        width 280px
        float left

    .doc-side-inner
        transform scale(0.7)
        transform-origin 0 0

    .doc-side h2
        margin-top: 2px;

    .doc-col 
        margin-right 20px
        width 500px
        float left
