header-section-height = 40px
header-section-margin-top = 20px
sidebar-background-color = #f8f8f8
doc-side-title-color = #4A4C53
doc-side-font = bold 12px font-name, arial, serif
doc-side-title-font = bold 18px font-name, arial, serif

.doc-content
  margin-top 40px
  
  .sidebar
    margin-bottom 40px
  
    .content-sidebar
      background-color sidebar-background-color
      border-radius 4px
      padding 5px 20px
      box-shadow 0px 0px 4px #aaa

    .header-sidebar
      height header-section-height
      line-height 30px

      .back-button
        tiny-button()
      
    h2
      font doc-side-title-font
      color doc-side-title-color
      text-shadow #FFF 0px 1px 1px
      line-height 14px
      
    ul 
      list-style-type none
      
    li 
      font doc-side-font
      line-height 15px
      
    li.selected
      
      i:before
        content "\f192" // fa-dot-circle-o
      
      a
        color selection-color
      
  .doc-page

    .header-content
      height header-section-height

      .title
        margin-top 0
        font doc-main-title-font
        color doc-main-title-color
        text-shadow #FFF 0px 2px 1px
        line-height 30px
        font-weight bold

    .page-content
      position: relative
      margin 20px

    // terminal-like
    pre
      border 1px solid #000
      box-shadow 0px 0px 10px #666
      border-radius 3px
      margin: 1em 0
      margin-left 40px
      background-color rgb(41,41,41) !important
      padding: 10px !important
      overflow: auto !important

    code
      font-family monospace
      font-size 12px
      line-height 1em
      background-color #f8f8ff !important
      color #444 !important
      padding 1px 4px !important
      border 1px solid #dedede !important
      border-radius 2px
      whitespace nowrap

    pre > code
      color #ddd !important
      padding 0 !important
      background-color rgb(41,41,41) !important
      border none !important
      whitespace pre

