#footer
  margin-bottom 50px // just to allocate some extra space below footer
  margin-top 10px

  .footerbox
    border-top 1px solid #ddd
    font footer-font
    color footer-link-color
    text-shadow #FFF 0px 1px 1px
    padding 4px 10px 4px 10px
    float right
    relative()
    
    a
      color footer-link-color
    
    & > *
      display inline-block

    .copyright
      opacity 0.6
      transition all tspeed ease 0s
      
      &:hover
        opacity 1

    .footer-links a
      margin-left 10px