/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 13.34px helvetica, arial, clean, sans-serif;
    *font-size: small;
    text-align: center;
}

table {
    font-size: inherit;
    font: 100%;
}

select,
input[type=text],
input[type=password],
input[type=image],
textarea {
    font: 99% helvetica, arial, sans-serif;
}

select,
option {
    padding: 0 .25em;
}

input.text {
    padding: 1px 0;
}

optgroup {
    margin-top: .5em;
}

pre,
code {
    font: 115% Monaco, "Courier New", monospace;
    *font-size: 100%;
    /* line-height: 1.5em;*/
}

body * {
    line-height: 1.4em;
}

img {
    border: 0;
}

/* links */

a {
    color: #4183c4; /* blue */
    text-decoration: none;
}

a.action {
    color: #d00; /* red */
    text-decoration: underline;
}

a.action span {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.sparkline {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

img.help {
    vertical-align: middle;
}

.notification {
    background: #FFFBE2 none repeat scroll 0%;
    border: 1px solid #FFE222;
    padding: 1em;
    margin: 1em 0;
    font-weight: bold;
}

.warning {
    background: #fffccc;
    font-weight: bold;
    padding: .5em;
    margin-bottom: .8em;
}

.error_box {
    background: #FFEBE8 none repeat scroll 0%;
    border: 1px solid #DD3C10;
    padding: 1em;
    font-weight: bold;
}

abbr {
    border-bottom: none;
}

.flash {
    color: green;
}

/*****************************************************************************/
/*
/* Common Layout
/*
/*****************************************************************************/

body {
    text-align: center;
}

.site {
    width: 69em;
    margin: 0 auto;
    padding: 0 3em;
    text-align: left;
}

/*****************************************************************************/
/*
/* Extra Syntax
/*
/*****************************************************************************/

.syntax .gc {
    color: #999;
    background-color: #EAF2F5;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

#header {
    background: #fcfcfc url(/images/modules/header/header_bg.png) 0 100% repeat-x;
    height: 6.82em;
    min-width: 75em;
}

#header a {
    color: #fff;
}

#header a:hover {
    text-decoration: none;
}

#header .logo {
    padding-top: 1.2em;
    float: left;
}

/* actions */

#header .actions {
    float: right;
    color: #444;
    font-size: 110%;
    margin-top: 2.3em;
}

#header .actions a {
    color: #444;
    margin-left: 1.5em;
    padding: .4em;
}

#header .actions a:hover {
    text-decoration: none;
    background-color: #dcdcdc;
}

/* basic */

#header.basic {
    border-bottom: 5px solid #ddd;
    margin-bottom: 1em;
}

/* userbox */

#header .userbox {
    background: #EAF2F5;
    border: 1px solid #ddd;
    float: right;
    margin-top: 1.6em;
    width: 25em;
    color: #aac;
}

#header .userbox .box {
    margin: .25em .5em;
}

#header .userbox .gravatar {
    float: left;
}

#header .userbox .gravatar img {
    border: 1px solid #d0d0d0; /* gray */
    padding: 2px;
    background-color: white;
    margin-right: .7em;
}

#header .userbox .top {
    overflow: hidden;
}

#header .userbox .top .name {
    float: left;
    overflow: hidden;
    font-weight: bold;
    width: 10em;
}

#header .userbox .top .name a {
    color: #000;
}

#header .userbox .top .links {
    font-size: 85%;
    margin-top: .2em;
    float: right;
    text-align: right;
}

#header .userbox .top .links a {
    color: #4183c4;
}

#header .userbox .top .links a:hover {
    text-decoration: underline;
}

#header .userbox .bottom {
    overflow: hidden;
}

#header .userbox .inbox {
    float: left;
    margin-top: .7em;
    background: url('/images/modules/inbox/message.png') 0 .1em no-repeat;
}

#header .userbox .inbox a {
    padding-left: 20px;
    display: block;
}

#header .userbox a {
    color: #4183c4; /* blue */
}

#header .userbox .bottom .select {
    float: right;
    margin-top: .5em;
}

/* topsearch */

#header .topsearch {
    float: left;
    width: 19em;
    margin: 2.05em 0 0 1em;
    color: #bbb;
}

#header .topsearch a {
    color: #666;
    font-size: 80%;
}

#header .topsearch a:hover {
    color: black;
    text-decoration: underline;
}

#header .topsearch form {
    padding-top: .4em;
}

#header .topsearch input {
    vertical-align: middle;
}

/* safari hack */
body:first-of-type#header .topsearch input {
    font-size: 110%;
}

#header .topsearch input.search {
    padding-top: 1px;
    width: 12em;
}

/* another safari hack, yes I feel bad about myself */
body:first-of-type #header .topsearch input.search {
    padding-top: 0;
    font-size: 120%;
    width: 9em;
}

#header .topsearch input[type=submit] {
    position: relative;
    top: 1px;
}

/* safari hack */
body:first-of-type #header .topsearch input[type=submit] {
    top: 0;
}

#header .topsearch .links span {
    float: right;
}

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8.6em;
}

.push {
    height: 8.6em;
    padding-bottom: 4em;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer {
    height: 8.6em;
    background: #bbccd9 url(/images/modules/footer/bg.png) 0 0 repeat-x;
    overflow: hidden;
    color: #cadcea;
    min-width: 75em;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer .info {
    padding: 2.9em 0 3.3em 0;
    float: left;
}

#footer .info .links {
    padding-bottom: .4em;
    border-bottom: 3px solid #5c8ab3;
}

#footer .info .company {
    padding-top: .4em;
}

#footer .sponsor {
    padding: 2.75em 0 1em 0;
    float: right;
    width: 20em;
}

#footer .sponsor img {
    float: right;
    margin: 0.4em 0 0 0.75em;
}

#footer .sponsor a {
    text-decoration: none;
}

#footer .sponsor div {
    text-align: right;
    font-size: 0.9em;
    margin-top: 0.7em;
}


/*****************************************************************************/
/*
/* Wiki Styles
/*
/*****************************************************************************/

.wikistyle h1, h2, h3, h4, h5, h6 {
    border: 0 !important;
}

.wikistyle h1 {
    font-size: 170% !important;
    border-top: 4px solid #aaa !important;
    padding-top: .5em !important;
    margin-top: 1.5em !important;
}

.wikistyle h1:first-child {
    margin-top: 0 !important;
    padding-top: .25em !important;
    border-top: none !important;
}

.wikistyle h2 {
    font-size: 150% !important;
    margin-top: 1.5em !important;
    border-top: 4px solid #e0e0e0 !important;
    padding-top: .5em !important;
}

.wikistyle h3 {
    margin-top: 1em !important;
}

.wikistyle p {
    margin: 1em 0 !important;
    line-height: 1.5em !important;
}

.wikistyle ul {
    margin: 1em 0 1em 1.3em !important;
}

.wikistyle ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.wikistyle ol {
    margin: 1em 0 1em 1.5em !important;
}

.wikistyle ol ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.wikistyle blockquote {
    margin: 1em 0 !important;
    border-left: 5px solid #ddd !important;
    padding-left: .6em !important;
    color: #555 !important;
}

.wikistyle dt {
    font-weight: bold !important;
    margin-left: 1em !important;
}

.wikistyle dd {
    margin-left: 2em !important;
    margin-bottom: 1em !important;
}

.wikistyle table {
    margin: 1em 0 !important;
}

.wikistyle table th {
    border-bottom: 1px solid #bbb !important;
    padding: .2em 1em !important;
}

.wikistyle table td {
    border-bottom: 1px solid #ddd !important;
    padding: .2em 1em !important;
}

.wikistyle pre {
    margin: 1em 0 !important;
    font-size: 90% !important;
    background-color: #f8f8ff !important;
    border: 1px solid #dedede !important;
    padding: .5em !important;
    line-height: 1.5em !important;
    color: #444 !important;
    overflow: auto !important;
}

.wikistyle pre code {
    padding: 0 !important;
    font-size: 100% !important;
    background-color: #f8f8ff !important;
    border: none !important;
}

.wikistyle code {
    font-size: 90% !important;
    background-color: #f8f8ff !important;
    color: #444 !important;
    padding: 0 .2em !important;
    border: 1px solid #dedede !important;
}

/* console */

.wikistyle pre.console {
    margin: 1em 0 !important;
    font-size: 90% !important;
    background-color: black !important;
    padding: .5em !important;
    line-height: 1.5em !important;
    color: white !important;
}

.wikistyle pre.console code {
    padding: 0 !important;
    font-size: 100% !important;
    background-color: black !important;
    border: none !important;
    color: white !important;
}

.wikistyle pre.console span {
    color: #888 !important;
}

.wikistyle pre.console span.command {
    color: yellow !important;
}
