// this styles are supposed to cancel some of our conflicting site-wide styles

.markdown-body.markdown-tweaks
  p
    font-size inherit
    line-height inherit
    margin 0

  li
    line-height inherit

  a
    color link-color
