html
  height 101%

body
  background #f2f2f2 url('/shared/img2/background.png') repeat top left
  font basic-font
  
a
  color link-color
  text-decoration none
  transition color tspeed ease 0s
  
a:hover,
a:focus
  color selection-color !important
  
.container
  relative() // important for absolute positioned elements inside main area

li
  line-height 18px
  
h1, h2, h3, h4, h5, h6
  margin-top 30px
  margin-bottom 10px
  
h2 
  font-size 20px

h3 
  margin-top 12px
  font-size 16px

h4
  margin-top 10px

h5, h6
  margin-top 6px

  
p
  font-size 13px
  line-height 18px

.generic-separator
  height 1px
  box-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
  background-color #ddd
  relative()
  