html
    height 101%

body
    background #f2f2f2 url('/shared/img2/background.png') repeat top left;
    
a
    color #3B5998
    text-decoration none
    transition: color 0.33s ease 0s;    
    
a:hover
    color #233164 !important
    
.container
    relative() // important for absolute positioned elements inside main area
    
.google-pray
    color #eee

