html
    height 101%

body
    background #f2f2f2 url('/shared/img2/background.png') repeat top left;
    font basic-font
    
a
    color link-color
    text-decoration none
    transition color 0.33s ease 0s
    
a:hover
    color selection-color !important
    
.container
    relative() // important for absolute positioned elements inside main area
    
.google-pray
    color #eee