html {
  height: 101%;
}

body {
  background: #f2f2f2 url('/shared/img2/background.png') repeat top left;
  font: 12px 'Play', arial, serif;  /* basic-font */
}

a,
a:visited,
a:active {
  color: #4f6393;  /* link-color */
  text-decoration: none;
  transition: color 0.5s ease 0s;  /* tspeed */
}

a:hover,
a:focus {
  color: #0f56b3 !important;  /* selection-color */
}

a.red,
a.red:visited,
a.red:active {
  color: #c00;  /* red-link-color */
  text-decoration: none;
  transition: color 0.5s ease 0s;  /* tspeed */
}

a.red:hover,
a.red:focus {
  color: #f00 !important;  /* red-selection-color */
}

.container {  /* important for absolute positioned elements inside main area */
  position: relative;  /* Expanded relative() */
}

li {
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

h3 {
  margin-top: 12px;
  font-size: 16px;
}

h4 {
  margin-top: 10px;
  font-size: 15px;
}

h5, h6 {
  margin-top: 6px;
  font-size: 14px;
}

p {
  font-size: 13px;
  line-height: 18px;
}

blockquote {
  font-size: 13px;
  margin-left: 10px;
}

.generic-separator {
  height: 1px;
  box-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
  background-color: #ddd;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}

.highlighted-section {
  animation: pusate 1s infinite alternate;
}

@keyframes pusate {
  from {
    box-shadow: 0 0 10px transparent;  /* anchorable-section-hightlight-start-color */
  }

  to {
    box-shadow: 0 0 20px #ff0;  /* anchorable-section-hightlight-end-color */
    background-color: #ff0;  /* anchorable-section-hightlight-end-color */
  }
}
