#header
  height 90px
  background-color #f7f7f7
  background linear-gradient(top, #ffffff, #f7f7f7)
  border-bottom 1px solid header-separator-color
  box-shadow 0 1px 3px #dadada

  .header-menu
    padding 0
    margin 0
    absolute(right 0) // needed for responsive design, header should not break with small width
    margin-top 41px
    margin-bottom 10px
    list-style-type none
    white-space nowrap
    display block

    li
      border 1px solid transparent
      border-radius 2px
      menu-button()

      a
        color menu-color !important

      i
        margin-right 6px

    li:hover
      border-color link-color

  .menu-selected-store .menu-item-store,
  .menu-selected-products .menu-item-products,
  .menu-selected-blog .menu-item-blog,
  .menu-selected-support .menu-item-support
    background-color link-color

    a
      text-shadow none
      color menu-item-selected-color !important
