#header
  height 90px
  background-color #f7f7f7
  background linear-gradient(top, #ffffff, #f7f7f7)
  clear both
  border-bottom 1px solid header-separator-color
  box-shadow 0px 1px 5px #dadada
  
  .header
    relative()
  
    .header-logo
      sprite(0px, 0px, 196px, 56px)
      absolute(top 25px)
      cursor pointer

      .header-logo-hover
        sprite(752px, 0px, 196px, 56px)
        transition all tspeed ease 0s
        opacity 0

        &:hover
          opacity 1
  
    .header-menu
      float right
      margin-top 44px
      list-style-type none
      
      li
        display block
        border-radius 4px
        float left
        menu-button()
        
        i 
          margin-right 6px
          
      li:hover
        border-bottom 2px solid #999
        
.menu-store .menu-item-store a,
.menu-products .menu-item-products a,
.menu-blog .menu-item-blog a,
.menu-support .menu-item-support a
  color menu-selected-color !important
  
.menu-products .menu-item-products
  border-bottom 2px solid black !important