sprite(x=0px, y=0px, w='auto', h='auto', img='/shared/img2/assets.png')
    background transparent url(img) no-repeat (-(x)) (-(y)) !important
    width w
    height h
    display inline-block
    absolute()