.binaryage-logo
  absolute()
  margin-top 10px
  width 328px
  height 68px

.cover
  cursor pointer

  .pixels
    transition opacity tspeed ease 0s
    opacity 0.3
    border-radius 0px
  
  &:hover .pixels
    opacity 1
    border-radius 1px