/* logo-badge-color = #686d76 */
/* logo-white-color = #fff */
/* logo-orange-color = #f9a538 */

.binaryage-logo {
  position: absolute;  /* Expanded absolute() - needed for responsive design, header should not break with small width */
  margin-top: 6px;
  opacity: 0.2;
  transition: opacity 0.5s ease 0s;  /* tspeed */
  transform: scale(0.6);
  transform-origin: 0 0;

  .logo {
    width: 260px;
    height: 56px;
    fill-rule: evenodd;

    .logo-badge {
      stroke-width: 1;

      .logo-badge-background {
        fill: #686d76;  /* logo-badge-color */
      }

      .logo-letter-b {
        stroke: #383b40;  /* darken(logo-badge-color, 20) */
        fill: #fff;  /* logo-white-color */
      }

      .logo-letter-a {
        stroke: #383b40;  /* darken(logo-badge-color, 20) */
        fill: #f9a538;  /* logo-orange-color */
      }
    }

    .logo-label {
      stroke: none;

      .logo-word-binary {
        fill: #686d76;  /* logo-badge-color */
      }

      .logo-word-age {
        fill: #f9a538;  /* logo-orange-color */
      }
    }
  }

  &:hover {
    opacity: 1;
  }
}

@media (min-width: 620px) {  /* logo-menu-not-clashing */
  .binaryage-logo {
    margin-top: 32px;
  }
}
