.binaryage-logo
  margin-top 20px

.cover
  width 328px
  height 68px
  cursor pointer

  .pixels
    absolute()
    transition opacity tspeed ease 0s
    opacity 0.3
    border-radius 0px
  
  &:hover .pixels
    opacity 1
    border-radius 1px