.product-header
  margin-top 50px
  margin-bottom 20px
  
  .product-box
    relative()
    padding 10px 0px
    padding-bottom 20px
    padding-left 150px
    border-radius 4px
    margin-left -20px

    .product-icon
      absolute(left 10px)
      width: 128px;
      height: 128px;
                
    .product-title
      font product-title-font
      color: product-title-color
      text-shadow #FFF 0px 1px 1px
      line-height 40px
      margin 0px
      margin-top 10px
      white-space nowrap
      display inline-block
      
    .product-subtitle
      font product-subtitle-font
      color product-subtitle-color
      text-shadow #FFF 0px 2px 1px
      line-height 20px
      white-space nowrap
      margin-top 6px
      
  .product-buttons
    
    .button-container
      float right
      margin-top 14px
      margin-left 20px
      
      .button-note
        padding-right 10px
        relative(top -2px)
        text-align right
        text-shadow #FFF 0px 1px 1px
        font-size 10px
        line-height 14px
        
        a
          color minor-link-color
          
      .button
        product-button()
        
      .cross-promo
        // width 200px
        white-space nowrap
        relative(top 4px)
        border 1px solid #ccc
        background-color #fcffdd
        padding 3px 10px
        border-radius 4px
        
        i.fa
          font-size 20px
          float left
          margin-right 10px
          margin-top 8px
        
  @media (max-width: 520px)
    .product-social
      display none
      
    .product-box
      zoom 0.7