.main-product
  margin-top 50px
  margin-bottom 20px
  
  .product-logo-box
    relative()
    padding 10px 0px
    padding-bottom 20px
    padding-left 150px
    border-radius 4px
    margin-left -20px

    .product-icon
      absolute(left 10px)
      width: 128px;
      height: 128px;
                
    .product-title
      font product-title-font
      color: product-title-color
      text-shadow #FFF 0px 1px 1px
      line-height 40px
      margin 0px
      margin-top 10px
      white-space nowrap
      display inline-block
      
    .product-subtitle
      font product-subtitle-font
      color product-subtitle-color
      text-shadow #FFF 0px 2px 1px
      line-height 20px
      white-space nowrap
      margin-top 6px
      
    .product-social
      transition all tspeed ease 0s
      opacity 0.2
      height 30px
      margin-left -10px
      white-space nowrap
      
    .product-social:hover
      opacity 1

    .product-social > div
      margin 0px 10px
      display inline-block
    
    .twitter-wrapper
      relative(top 3px left -10px)
      
    .plusone-wrapper
      relative(top 3px left -50px)
    
  .product-buttons
    
    .button-container
      float right
      margin-top 14px
      margin-left 20px
      
      .button-note
        padding-right 10px
        relative(top -2px)
        text-align right
        text-shadow #FFF 0px 1px 1px
        font-size 10px
        line-height 14px
        
        a
          color minor-link-color
          
      .button
        product-button()
        
  @media (max-width: 520px)
    .product-social
      display none
      
    .product-logo-box
      zoom 0.7

