// natural-screenshot-width = 650px
// natural-screenshot-height = 430px

highlights-shift = 30px

hovered-highlight-background-color = #f5f5f5
active-highlight-background-color = #fff

.showcase
  padding-top 20px
  padding-left 3px // width in max layout should be 650px (showcase is 653px in max layout)
  clear both

.screenshot-box

  .screenshot
    width 100%
    display inline-block

  &.tf-shadow .screenshot
    box-shadow 0px 0px 20px #666
    border-radius 4px
    
  &.no-shadow .screenshot
    box-shadow none

  a
    img
      width 100%
      display block

  .zoom-icon
    cursor pointer
    sprite(0px, 0px, 74px, 74px, "/shared/img2/zoom.png")
    absolute(top 40% left 45%)
    transition opacity tspeed ease 0s
    opacity 0

  &:hover .zoom-icon
    opacity 1
    
  
.screenshot-controls
  absolute(left 404px top 560px)

  .navi
    a
      cursor pointer
      display block
      background-color #ccc
      width 10px
      height 10px
      border-radius 5px
      float left
      margin 2px
      outline none

    a:hover
      opacity 0.6
      background-color #999

    a.active
      background-color #666


.highlights
  padding-top 20px

@media (min-width: 1200px)
  .highlights
    relative(left highlights-shift)
    
.highlight
  width 290px
  height 75px
  position relative
  border-radius 3px
  padding 5px
  float left
  
  .highlight-icon
    float left
    margin-right 10px
    padding 2px
    border-radius 5px
    background-color #fff
    display block
    transition all tspeed ease 0s
    border 1px solid #ccc
    opacity 0.7
    
  .highlight-icon div
    width: 60px;
    height: 60px;

  .highlight-content h3
    margin 2px 0px
    font highlight-title-font
    color highlight-title-color
    text-shadow #FFF 0px 1px 1px
    line-height 15px

  .highlight-content p
    margin: 0;
    font highlight-text-font
    color highlight-text-color
    text-shadow #FFF 0px 1px 1px
    line-height 14px

.highlight-selectable
  cursor pointer

  &:hover
    background-color hovered-highlight-background-color

  &.active
    background active-highlight-background-color !important

  @media (min-width: 992px)
    &:hover:after, :hover:before
      left 100%
      top 50%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none

    &:hover:after
      border-left-color hovered-highlight-background-color
      border-width 36px
      margin-top -36px    
    
    &.active:after, .active:before
      left 100%
      top 50%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none

    &.active:after
      border-left-color active-highlight-background-color !important
      border-width 36px
      margin-top -36px
    