@import 'blueprint'
@import 'nib'

@import 'constants'
@import 'helpers'
@import 'components'

//////////////////////////////

html
    height 101%

body
    background #f2f2f2 url('/shared/img2/background.png') repeat top left;
    
a
    color #3e89c6
    text-decoration none
    
a:hover
    color #2B63A4 !important
    
#topbar
    height 5px
    background-color topbar-bg-color
    
    .topbar
        relative()
        
        .topbar-buttons
            absolute(right)

            .topbar-testimonials
                topbar-button(276px, 62px)

            .topbar-labs
                topbar-button(276px, 93px)
    
#header
    height 90px
    background linear-gradient(top, #ffffff, #f5f5f5)
    clear both
    border-bottom 1px solid header-separator-color
    
    .header
        relative()
    
        .header-logo
            sprite(0px, 0px, 190px, 56px)
            margin-top 25px
        
            :hover
                cursor: pointer;
    
        .header-motto
            sprite(216px, 10px, 126px, 30px)
            margin-top 18px
            margin-left 174px

        .header-selector
            sprite(0px, 213px, 22px, 11px)
            margin-top 80px 
            display none

        .header-menu
            absolute(right)
            display block
            padding 0px
            margin: 0px
            margin-top 44px
            margin-right -10px
            list-style-type none
        
            .menu-item-store
                menu-button(-6px, 129px)
            
            .menu-item-products
                menu-button(-4px, 97px)
            
            .menu-item-blog
                menu-button(-4px, 63px)
        
            .menu-item-support
                menu-button(-0px, 162px)
                

// selected menu items
.menu-products .header-selector
    right 230px
    display block !important
                
.menu-store .menu-item-store a,
.menu-products .menu-item-products a,
.menu-blog .menu-item-blog a,
.menu-support .menu-item-support a
    color:menu-selected-color !important;
    
.main-product
    margin-top 50px
    min-height 350px
    
    .main-product-left
    
        .product-logo-box
            relative()
            padding-top 10px
            padding-right 20px
            padding-left: 85px;
    
            .product-icon
                absolute(left 0px)
                width: 64px;
                height: 64px;
        
            .product-title
                font product-title-font
                color: product-title-color
                text-shadow #FFF 0px 1px 1px
                line-height 40px
                margin 0px
                margin-top 2px
        
            .product-subtitle
                font product-subtitle-font
                color product-subtitle-color
                text-shadow #FFF 0px 2px 1px
                line-height 20px

            .facebook-like-box
                margin 0px
                margin-top 16px
                min-height 40px
        
        .product-buttons-box
            margin-top: 14px;
            margin-left: 85px;
            relative()
            
            .product-click-here
                sprite(370px, 10px, 80px, 30px)
                absolute(top 28px left -94px)
        
            .product-buttons
                relative()
                width 302px
                
                .button
                    width 100%
        
                .product-button-play
                    product-button(-16px, 244px)

                .product-button-download
                    overflow hidden
                    product-button(-16px, 302px)

                .product-button-buy
                    product-button(-16px, 358px)
            
                .price-tag
                    sprite(464px, 255px, 70px, 30px)
                    absolute(right -14px top 10px)
            
                .reasons-to-buy
                    text-align: right;
                    text-shadow #FFF 0px 1px 1px
                    font-size 10px;

                    a
                        color #8d9198

    .main-product-right
        relative()
        
        // this is just something generated by slideshow plugin
        .product-thumbs-box 
            display none
            
        .teaser-button
            absolute(top 330px left 160px)
            
            div
                sprite(283px, 154px, 18px, 18px)
                cursor pointer 
            
        .navi-hint
            sprite(480px, 10px, 130px, 30px)
            absolute(top 328px left 284px)

        .navi
            absolute(top 332px left 190px)

            a
                sprite(299px, 127px, 12px, 12px)
                relative()
                float left
                margin 2px
                outline none

            a:hover
                outline: none;
                sprite(284px, 127px, 12px, 12px)
                relative()
                
            a.active
                outline: none;
                sprite(284px, 127px, 12px, 12px)
                relative()

        .main-screenshot
            relative(top 10px)
            
            .screenshot-box
                absolute()
                width 470px
                height 310px
                background #f2f2f2 url('/shared/img2/screenshot-shadow.png') repeat top left;
            
                .overlayable
                    display block
                    absolute(left 9px top 4px)
                    overflow hidden
                    width 452px
                    height 293px

                &.no-shadow 
                    background none
                    
                    .overlayable
                        overflow visible
                
                img
                    absolute(left -24px top -14px)
            
                &:hover .zoom-icon
                    cursor pointer
                    sprite(709px, 216px, 85px, 85px)
                    absolute(top 120px left 190px)

.main-content
    margin-top 20px
    relative()

    .features-separator
        sprite(0px, 430px, 950px, 30px)
        relative()

    .highlights
        margin-top 0px

        .highlight.last
            margin-right 0px

        .highlight
            background none
            float left
            width 290px
            margin-right 40px
            margin-top 0px
            
            .highlight-icon
                float left
                padding 2px
                border 1px solid #ccc
                border-radius 5px
                background-color #fff
                margin-right 20px

            .highlight-icon div
                width: 60px;
                height: 60px;

            .highlight-icon .thumb-tabs
                background-image: url('/images/thumb-tabs.png');

            .highlight-icon .thumb-dual
                background-image: url('/images/thumb-dual.png');

            .highlight-icon .thumb-fot
                background-image: url('/images/thumb-fot.png');

            .highlight-icon .thumb-ssf
                background-image: url('/images/thumb-ssf.png');

            .highlight-icon .thumb-visor
                background-image: url('/images/thumb-visor.png');

            .highlight-icon .thumb-asepsis
                background-image: url('/images/thumb-asepsis.png');

            .highlight-icon .thumb-stabs
                background-image: url('/images/thumb-stabs.png');

            .highlight-icon .thumb-cut
                background-image: url('/images/thumb-cut.png');

            .highlight-icon .thumb-term
                background-image: url('/images/thumb-term.png');

            .highlight-content h3
                margin 0
                margin-top 6px
                margin-bottom 6px
                font highlight-title-font
                color highlight-title-color
                text-shadow #FFF 0px 1px 1px
                line-height 15px

            .highlight-content p
                margin: 0;
                font highlight-text-font
                color highlight-text-color
                text-shadow #FFF 0px 1px 1px
                line-height 17px

        .highlight-separator
            clear both
            height 30px
    
    .generic-separator
        sprite(0px, 456px, 950px, 28px)
        relative()
        margin-top 26px
        
    .more-info
        margin-top 12px
        
        .product-button-doc
            minor-button(452px, 309px)
            width 290px
            margin-right 34px
            
        .product-button-changes
            minor-button(450px, 353px)
            width 290px

    .product-actions-box
        absolute(top 333px)
        white-space nowrap

    .product-actions-box-inner
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;

    .product-actions-box-inner
        absolute(left 660px  bottom -12px)

    .product-actions-box-inner > *
        float: left;
        margin 3px
    

.gecko .product-actions-box
    absolute(top 325px)

.gecko .product-actions-box-inner
    width: 420px; // firefox 4 bug related to zoom/scale transform

.safari .product-actions-box-inner iframe
    zoom: 1.5; /* fight safari iframe zoom bug? */
    margin-right: -16px;
    margin-bottom: -16px;

.chrome .product-actions-box-inner iframe
    zoom: 1.5; /* fight safari iframe zoom bug? */
    margin-right: -16px;
    margin-bottom: -16px;
    
.buzz
    relative(top -4px left 4px)
    
.macupdate
    relative(top 3px left 9px)

.usethis
    relative(top 7px left 7px)
    
#footer
    clear both
    padding-bottom 20px
    margin-top 30px
    font footer-font
    color #d4d4d4
    text-shadow #FFF 0px 1px 1px
    
    .footerbox
        padding 20px 0px
        relative()

        .copyright
            absolute(left 4px)
            z-index 2

        .copyright a
            display block

        .copyright img
            display block

        .footer-links
            text-align right

        .footer-links a
            margin 0px 8px

    .footer-separator
        sprite(0px, 486px, 950px, 50px)
        
.google-pray
    color #eee
    
.overlay
    display none

    .overlay-next, 
    .overlay-prev
        absolute(top 40%)
        border 1px solid #666
        cursor pointer
        display block
        padding 10px 20px
        color #fff
        font-weight bold
        font-size 14px
        border-radius 5px

    .overlay-prev
        left 0px
        border-left 0
        border-radius top left 0
        border-radius bottom left 0

    .overlay-next
        right 0px
        border-right 0
        border-radius top right 0
        border-radius bottom right 0

    .overlay-next:hover, 
    .overlay-prev:hover
        text-decoration underline
        background-color #000
        color #FFFEE9 !important

    .disabled-overlay
        visibility hidden

    .overlay-info
        absolute()
        bottom 0
        left 0
        right 0
        padding 2px 24px
        color #fff
        font-weight bold
        font-size 14px
        border-top 1px solid #666

    .overlay-progress
        absolute(top 6px left 6px)
        display none

    .overlay-next, .overlay-prev, .overlay-info
        background-color #000 !important
    
#gallery.overlay
    z-index 10000
    width 1590px
    height 880px
    background-image url('/shared/img/nbair1.png')

    .overlay-progress
        left 280px
        top 22px

    .close
        background-image: url('/shared/img/overlay/close.png');
        position:absolute;
        left:238px;
        top:18px;
        cursor:pointer;
        height:35px;
        width:35px;

    #img
        relative(top 64px left 282px)

    .overlay-next, 
    .overlay-prev
        padding 10px
        border 2px solid #666
        width 30px

    .overlay-prev
        left 220px

    .overlay-next
        right 220px

    .overlay-info
        display none !important

    .overlay-lesk
        absolute(top 64px right 284px)
        z-index 500
        opacity 0.5
        
#buy.overlay
    background-image url('/shared/img2/overlay-632x479.png')
    width 632px
    height 479px

    .overlay-content
        margin 25px
        padding 0px
        absolute()

    .close
        background-image url('/shared/img2/overlay-close.png')
        absolute(left 16px top 16px)
        z-index 30000
        cursor pointer
        height 13px
        width 13px

    .options
        sprite(0px, 0px, 92px, 19px, '/shared/img2/overlay-buy.png')
        absolute(left 244px top 12px)

    .explanation-box
        float left
        width 242px
        margin-top 40px
        text-align center
        padding 10px 20px
        min-height 340px
        border 1px solid #d3d3d3
        border-radius 4px
        background-color #f1f1f1
        relative()
        
        &:hover
            text-decoration none !important
            background-color #f7f7f7

    .title
        margin-top 8px
        font-size 20px
        color #8d9198
        line-height 24px
        font-weight bold
        text-shadow #FFF 0px 2px 1px

    .deal
        margin-top 168px
        margin-bottom 20px
        font-size 10px
        line-height 14px
        color #9699a0
        min-height 70px
        text-shadow #FFF 0px 1px 1px

    .button
        relative()
        popup-button()

    .buy-single 
        margin-right: 14px;

        .button
            width 174px
        
        .image
            sprite(0px, 21px, 144px, 144px, '/shared/img2/overlay-buy.png')
            absolute(left 80px top 60px)

        .price-tag
            sprite(464px, 255px, 70px, 30px)
            absolute(right -14px top 10px)
            
    .buy-pack
        .button
            width 190px
        
        .image
            sprite(173px, 21px, 200px, 144px, '/shared/img2/overlay-buy.png')
            absolute(left 40px top 60px)

        .price-tag
            sprite(464px, 222px, 70px, 30px)
            absolute(right -14px top 10px)
            

#teaser.overlay
    background-image url('/shared/img2/overlay-664x400.png')
    width 664px
    height 400px

    .overlay-content
        text-align center
        z-index 20000
        absolute(left 11px top 9px)
        
    .overlay-content object
        display block
        border 1px solid #444
        border-radius 4px
        
    .close
        background-image url('/shared/img2/overlay-close.png')
        absolute(left 16px top 16px)
        z-index 30000
        cursor pointer
        height 13px
        width 13px

#dwn.overlay
    background-image url('/shared/img2/overlay-664x349.png')
    width 664px
    height 349px
            
    .overlay-content
        text-align center
        padding 22px 20px
        
    .close
        background-image url('/shared/img2/overlay-close.png')
        absolute(left 16px top 16px)
        z-index 30000
        cursor pointer
        height 13px
        width 13px

    .while-downloading
        color #393d44
        font droid-font
        font-size 20px
        font-weight bold
    
    .stay-in-touch 
        padding-top 2px
        padding-bottom 10px
        margin-bottom 26px
        font droid-font
        font-size 14px
        color #8d9198

    .viral-boxes
    
        .viral-box
            float left
            border 1px solid #d3d3d3
            border-radius 4px
            background-color #f1f1f1
            border-radius 5px
            font-size 12px
            padding 10px
            height 200px
            width: 180px;

        .twitter-box
            padding 10px
            relative()

            a
                color #3A6394 !important
                text-decoration none

            a:hover
                color #1C75DB !important
                text-decoration none !important
            
            #twitter-box-placeholder
                position static !important

            #twitter-box-placeholder .twtr-doc
                height 200px
                background none !important
                
            .twtr-hd  
                padding 2px 6px
            
                h4
                    display none
            
                h3
                    color #454850
                    line-height 30px !important
                    font-size 14px !important
                    text-shadow #fff 0px 2px 1px
                    font-weight bold !important

            .twtr-bd
                padding 0px
                padding-top 6px
                
                .twtr-tweet-text
                    max-height 82px
                
                .twtr-timeline
                    border-radius 2px
                    border 1px solid #d3d3d3
                    
                em
                    display none

            .twtr-ft
                min-height 53px
                background-color #94a5b4
                border-radius 4px
                border 1px solid #708699
                absolute(bottom 10px left 10px)
                right 10px
                
                a
                    color #fff !important
                    font-size 9px
                    text-transform uppercase !important
                    text-shadow #434B53 0px 1px 1px
                    float none
                    
                span 
                    display block
                    float none
                    margin-top 4px
                    text-align center !important
                
                img
                    display block
                    margin auto
                    width 80px

        .blog-box
            absolute()
            right: 230px;
            
            .title
                margin-top 4px
                color #454850
                line-height 30px !important
                font-size 14px !important
                text-shadow #fff 0px 2px 1px
                font-weight bold !important

            a
                display block
                line-height 12px
                text-shadow #fff 0px 2px 1px
                

            .rss-button
                min-height 53px
                background-color #bfbfbf
                border-radius 4px
                border 1px solid #aaaaaa
                absolute(bottom 10px left 10px)
                right 10px
                
                .rss-icon
                    sprite(0px, 0px, 64px, 64px, '/shared/img2/rss-icon.png')
                    absolute(left 10px bottom 10px)
                    
                img 
                    absolute(left 84px bottom 13px)

        .mailchimp-box
            absolute()
            right 20px
            
            .subs-count 
                min-height 53px
                background-color #bfbfbf
                border-radius 4px
                border 1px solid #aaaaaa
                absolute(bottom 10px left 10px)
                right 10px
                
            .subs-count * 
                background none !important

            #mc_embed_close
                display: none;
                
            #mc_embed_signup
                z-index 100
                absolute()
                left 10px
                right 10px

            #mc_embed_signup fieldset
                border: 0;
                margin: 0;
                padding: 0px
                margin-top 4px
                
                label 
                    margin-top 4px
                    color #454850
                    line-height 30px !important
                    font-size 14px !important
                    text-shadow #fff 0px 2px 1px
                    font-weight bold !important
                    
                    span
                        display block
                        color #8d9198
                        font-weight normal
                        font-size 12px
                        line-height 12px
                

            #mce-EMAIL
                margin 0px
                width 176px
                
                font-size 10px
                text-align center
                border 2px solid #d8d8d8
                border-radius 5px
                margin-top 6px
                color #a8a8a8
                height 24px

            .mce_inline_error
                margin-top 4px
                color #f00
                font-size 10px
                line-height 10px
                font-weight bold
                text-shadow #fff 0px 2px 1px

            #mc-embedded-subscribe
                tiny-button()
                float right
                margin-top 4px

            #mce-success-response
                margin-top 4px
                color #668
                font-size 10px
                line-height 10px
                font-weight bold
                text-shadow #fff 0px 2px 1px
                width 580px

            #mce-error-response
                margin-top 4px
                color #f00
                font-size 10px
                line-height 10px
                font-weight bold
                text-shadow #fff 0px 2px 1px
                width 580px
            
            .mc-subscribers
                text-transform uppercase
                text-shadow #eee 0px 1px 1px
                text-align center !important
                color #6e727b !important
                font-weight bold !important
                line-height 14px
                padding-top 12px !important
                
                strong
                    color #393d44 !important
                    padding 0 !important
                    font-weight bold !important
                    
            .mc-power
                text-shadow #eee 0px 1px 1px
                text-align center !important
                color #7b7f88 !important
                padding 0px !important
                line-height 10px
                
                a
                    color #393d44 !important


.main-dim {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.2;
    position: relative;
}

.main-overlay {
    z-index: 9;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


#tweets {
    position: absolute;
}

.tweet .loading img {
    position: relative;
    top: 3px;
    left: -2px;
}

.tweet .loading {
    color: #999;
}

.tweet .col {
    width: 470px;
    float: left;
}

.tweet #tweets-col-2 {
    margin-left: 10px;
}

ol.statuses {
    width: 100%;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ol.statuses a {
    text-decoration: none;
}

ol.statuses a:hover {
    text-decoration: underline;
}

ol.loading {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(http://s.twimg.com/a/1257465343/images/petal_spinner.gif) no-repeat scroll center 50px;
    height: 300px;
    opacity: 0.3;
}

ol.statuses li.status, ol.statuses li.direct_message {
    line-height: 13px;
    padding: 0.7em 0 0.6em;
}

ol.statuses > li:first-child {
}

ol.statuses .thumb {
    display: block;
    height: 50px;
    left: 8px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: absolute;
    width: 50px;
}
ol.statuses .thumb img{
    height: 48px;
    width: 48px;
}

.more-praise {
    display: none;
    font-size: 10px;
    position: absolute;
    right: 6px;
    bottom: 2px;
}

.no-results {
    border-top: 1px dashed #D2DADA;
    font-size: 1.2em;
    padding: 0.7em 0 0.6em 1em;
}

.no-results ol {
    padding: 5px 0 0 30px;
}

ol.statuses span.status-body {
    display: block;
    margin-left: 64px;
    min-height: 54px;
    overflow: hidden;
    margin-right: 8px;
}

ol.statuses span.status-body .lock {
    margin-right: 0.4em;
}

#users ol.statuses span.status-body {
    width: 365px;
}

ol.statuses .embedded_media_icon {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent url(http://s.twimg.com/a/1257465343/images/inline-media.png) no-repeat scroll left bottom;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 20px;
    z-index: 400;
}
ol.statuses .embedded_picture {
    margin: 10px 0 0;
    text-align: center;
}
ol.statuses .embedded_picture img {
    border: 2px solid #DDDDDD;
    padding: 10px;
}
.search ol.statuses .bio {
    margin-left: 5px;
}
.meta {
    color: #999999;
    display: block;
    font-size: 9px;
    margin: 3px 0 0;
}
.meta a {
    color: #999999;
}
.meta .call-out {
    color: #000000;
}
ol.statuses .actions {
    border-width: 0;
    line-height: 1.25em;
    position: absolute;
    right: 10px;
    top: 8px;
}
.ie6 ol.statuses .actions {
    right: 25px;
}
.actions a {
    text-decoration: none;
}
ol.statuses li:hover .actions span, ol.statuses li.hover .actions span, ol.statuses li.perma-hover .actions span, ol.statuses li:hover .actions a, ol.statuses li.hover .actions a, ol.statuses li.perma-hover .actions a {
    visibility: visible;
}
ol.statuses li.no-hover .actions span, ol.statuses li.no-hover .actions a {
    visibility: hidden !important;
}
.actions .non-fav, .actions .fav-throb, .actions .fav, .actions .reply {
    margin-bottom: 3px;
}
.hentry .non-fav, .hentry .fav, .actions .reply {
    background-image: url(http://s.twimg.com/a/1257465343/images/sprite-icons.png);
    cursor: pointer;
    display: block;
    height: 15px;
    visibility: hidden;
    width: 15px;
}
.hentry .fav-throb {
    background-position: 50% 50%;
    display: block;
    height: 15px;
    width: 15px;
}
.hentry .fav {
    background-position: -64px 0;
}
.hentry .non-fav {
    background-position: -32px 0;
}
.hentry .non-fav:hover {
    background-position: -48px 0;
}
.hentry .fav-throb, .hentry .del-throb {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_throbber.gif);
}
.hentry .del {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_trash.gif);
}
.direct_message a.reply {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_direct_reply.gif);
}
.direct_message .hentry .del {
    background-image: url(http://s.twimg.com/a/1257465343/images/icon_trash.gif);
}
ol.statuses li:hover, ol.statuses li.perma-hover, ol.statuses li.hover {
}
ol.statuses li:hover .hentry a, ol.statuses li.perma-hover .hentry a, ol.statuses li.hover .hentry a {
    visibility: visible;
}
ol.statuses .hentry a.fav {
    visibility: visible;
}

#tweet-loader .thumb img {
    width: 31px;
    height: 31px;
    margin-top: 8px;
    margin-left: 8px;
}

#tweet-loader .status-body {
    padding-top: 14px;
    font-weight: bold;
    color: #888;
}

.post-content li p {
    margin: 0;
}


#tweets-section {
    z-index: 10;
    position: absolute;
    top: 105px;
    width: 100%;
}

.hentry {
    position: absolute;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
    padding: 8px 8px;
    width: 300px;
    background-color: #fff;
    font-size: 11px;
    margin: 10px;
    -webkit-box-shadow: #aaa 0px 0px 4px;
    -moz-box-shadow: 0px 0px 4px #aaa;
}

.opera .hentry {
    border: 1px solid #aaa;
}

.card-fade-out > * {
    -moz-transition: all 6.0s ease;
    -webkit-transition: all 6.0s ease;
    -o-transition: all 6.0s ease;
    transition: all 6.0s ease;
    opacity: 0.3;
}

#tweets .hover {
}

#tweets .hover .more-praise {
    display: block;
}
