---
note: "this is needed for processing by jekyll"
regenerate: true # this is needed to rebuild css when some styl file is touched, jekyll 3+ tries to be smart and does not rebuild this file because it does not understand @import deps
---

// css files will be embedded into this site.css
@import "bootstrap.css"
@import "font-awesome.css"
@import "jquery.fancybox.css"

@import "nib"

@import 'constants'
@import 'components'
@import 'utils'

@import 'global'
@import 'logo'
@import 'header'
@import 'footer'
@import 'social-box'
@import 'doc'
@import 'changelog'
@import 'price-tags'
@import 'product'
@import 'product-tabs'
@import 'product-showcase'
@import '404'
@import 'github-markdown-tweaks'

// www & related
@import 'www'
@import 'blog'
@import 'about'
@import 'store'
@import 'hints'

// product pages
@import 'totalterminal'

// custom totalfinder stuff
@import 'totalfinder-overlays'     
@import 'totalfinder'

// custom totalspaces stuff
@import 'totalspaces'
