.social-box
  transition all tspeed ease 0s
  opacity 0.2
  height 30px
  margin-left -10px
  white-space nowrap

  .twitter-wrapper
    relative(top 3px left -10px)
  
  .plusone-wrapper
    relative(top 3px left -50px)
  
.social-box:hover
  opacity 1

.social-box > div
  margin 0px 10px
  display inline-block
