.social-box
  transition opacity tspeed ease 0s
  opacity 0.2
  height 30px
  margin-left -10px
  white-space nowrap

  &:hover
    opacity 1
    
  & > div // wrappers
    min-width 80px
    height 20px
    margin 0px 10px
    display inline-block

  .twitter-wrapper
    relative(top 3px left -10px)
  
  .plusone-wrapper
    relative(top 3px left -50px)
  
