#topbar
  height 5px
  background-color topbar-bg-color
  
  .relativizer
    relative()
  
  .topbar-buttons
    absolute(right 0px)
    z-index 100

    div
      topbar-button()
      transition all tspeed ease 0s