#topbar
  height 5px
  background-color topbar-bg-color
  
  .topbar
    .topbar-buttons
      absolute()
      z-index 100
      float right

      div
        topbar-button()
        transition all tspeed ease 0s