#topbar
    height 5px
    background-color topbar-bg-color
    
    .topbar
        relative()
        
        .topbar-buttons
            absolute(right)

            .topbar-testimonials
                topbar-button(276px, 62px)

            .topbar-labs
                topbar-button(276px, 93px)
    
