.doc-page
  .right
     float right
     
  h2:before,
  h2:after
    content: " "
    display: table

  h2:before
    clear both
     
  .keyboard-shortcuts
    width 400px
    background-color #fff
    border-radius 5px
    border 1px solid #aaa
    margin-bottom 20px

    table
      margin 0
      margin-left 10px
      margin-right 10px
      width 380px

    th
      border-bottom 1px solid #ccc

    td
      vertical-align top

  .keyboard-shortcuts.full
    width 690px
    
    table
      width 670px

  .license-desk
    background-color: #fff
    border-radius 5px
    border: 2px solid #aaa
    margin-bottom: 20px
    padding: 20px

  .doc-pref
    position: relative
    max-width 500px
    top: -20px
    left: -26px

  .license-warning
    background-color: #fff
    border-radius 5px
    border: 2px solid #f00
    margin-bottom: 20px
    padding: 20px

  .license-exclamation
    background-color: #fff
    border-radius 5px
    border: 2px solid #f00
    margin-bottom: 20px
    padding: 20px

  .doc-inline-image
    display block
    position: relative
    left: -30px
    top: -20px
    margin-bottom: -40px

  .doc-inline-image-50
    display block
    position: relative
    left: -15px
    top: -10px
    margin-bottom: -40px
    width 50%
    
  .doc-image
    max-width 100%
    
  .doc-side
      margin-top 30px
      width 300px
      float left

  .doc-side-inner
      transform scale(0.7)
      transform-origin 0 0

  .doc-side h2
      margin-top: 2px;
    
  .doc-col 
      margin-right 20px
      width 500px
      float left
      