#page-totalfinder-index {
  .product-icon {
    top: -14px;
  }

  .product-button-buy {
    i {
      color: #b34d4d;  /* Pre-calculated: desaturate(red, 60) */
    }

    &:hover {
      i {
        color: #f00;  /* red */
      }
    }
  }

  .product-button-download {
    i {
      color: #658bbb;
    }

    &:hover {
      i {
        color: #2283fe;  /* Pre-calculated: saturate(#658bbb, 60) */
      }
    }
  }

  .product-button-buy {  /* Needed to have same dimensions as .product-button-download */
    width: 254px;
    overflow: hidden;
  }

  .product-button-download {
    width: 254px;  /* We need some extra space for trial-note */
    overflow: hidden;
  }

  .product-content {
    margin-top: 20px;
    position: relative;

    .button {
      /* Expanded minor-button() mixin */
      margin: 0;
      user-select: none;
      display: inline-block;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      font: bold 16px 'Play', arial, serif;
      color: #8d9198;
      border: 1px solid #ccc;
      padding: 2px 14px;
      text-shadow: #fff 0 1px 1px;
      text-align: left;
      border-radius: 8px;
      min-height: 38px;
      line-height: 30px;
      margin-bottom: 12px;
      box-shadow: 0 1px 4px #ccc;
      background-color: #fff;
      background: linear-gradient(to bottom, #fff, #f4f4f4);
      white-space: nowrap;
      transition: all 0.5s ease 0s;
      margin-right: 20px;

      &:hover {
        background-color: #f3f3f3;
        background: linear-gradient(to bottom, #fff, #f8f8f8);
        border-color: #0f56b3;
      }

      i {
        transition: all 0.5s ease 0s;
        margin-right: 10px;
      }

      .trial-note {
        padding: 3px 29px;
        background-color: #658bbb;
        text-shadow: none;
        font-weight: normal;
        color: #fff;
        font-size: 9px;
        line-height: 8px;
        text-align: center;
        position: absolute;
        top: 11px;
        right: -32px;
        transform: rotate(45deg);
      }

      .price-note {
        padding: 3px 29px;
        background-color: #a2393c;
        text-shadow: none;
        font-weight: normal;
        color: #fff;
        font-size: 9px;
        line-height: 8px;
        text-align: center;
        position: absolute;
        top: 11px;
        right: -20px;
        transform: rotate(45deg);
      }
    }

    @media (min-width: 1200px) {
      .manual-button-box {
        position: relative;
        left: 30px;  /* highlights-shift */
      }
    }
  }
}
