.product-button-buy
  i
    color desaturate(red, 60)
  
  &:hover
    i
      color red

.product-button-download
  i
    color #658bbb

  &:hover
    i
      color saturate(#658bbb, 60)

#content-totalfinder
  margin-top 20px
  relative()

  .button
    minor-button()
    margin-right 20px
    
    
  @media (min-width: 1200px)
    .manual-button-box
      relative(left highlights-shift)

.product-button-buy
  width 240px
  
.product-button-download
  width 260px
  overflow hidden // needed for trial-note