#page-totalspaces-index
  .product-button-buy-ts2
    i
      color desaturate(red, 60)

    &:hover
      i
        color red

  .product-button-download
    i
      color #658bbb

    &:hover
      i
        color saturate(#658bbb, 60)

  .product-button-buy-ts2
    width 254px
    overflow hidden // needed to have same dimmensions as .product-button-download
  
  .product-button-download
    width 254px // we need some extra space for trial-note
    overflow hidden // needed for trial-note
  
  .product-content
    margin-top 20px
    relative()

    .button
      minor-button()
      margin-right 20px

    @media (min-width: 1200px)
      .manual-button-box
        relative(left highlights-shift)
        
.upgrade-input
  width: 590px; 
  height: 30px; 
  border: 1px solid #999999; 
  padding: 5px;
  font-size: 24px;
  
.upgrade-form
  margin-left: 20px;

.upgrade-submit
  width: 100px;
  margin-top: 5px;
  font-size: 20px;  

.buy-ts1-form
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  