.product-button-buy
  i
    color desaturate(red, 60)
  
  &:hover
    i
      color red

.product-button-download
  i
    color #658bbb

  &:hover
    i
      color saturate(#658bbb, 60)

#content-totalfinder
  margin-top 20px
  relative()

  .more-info
    relative(left 126px top -20px)
    margin-top 12px
    
    .button
      minor-button()
      margin-right 20px
      
    .manual-button-box,
    .teaser-button-box
      display inline-block
    
    .manual-button-box
      relative(left 70px)

    .teaser-button-box
      relative(left 66px)
    
      
.product-button-buy
  width 240px
  
.product-button-download
  width 260px
  overflow hidden // needed for trial-note      