.icon-box
  width 400px
  margin 40px auto
  display block
  text-align center
  text-decoration none !important

  .face
    transition all 0.2s ease
    width 300px
    margin auto
      
  .title 
    font product-title-font
    color link-color
    text-shadow #FFF 0px 2px 1px
    line-height 42px
    text-decoration none
  
  .subtitle
    font product-subtitle-font
    color product-subtitle-color
    text-shadow #FFF 0px 2px 1px
    line-height 24px
    
  &:hover .title
    color selection-color !important

  &:hover .face
    transform scale(1.15)
  

.products-wrapper
  text-align center
  
.products
  display inline-block
  margin auto
  
  .product 
    text-align center
    margin-top 30px
    width 178px
    height 170px
    display inline-block
    text-decoration none !important
    
    .icon
      width 80px
      height 80px
      transition all 0.2s ease
      
    .title
      transition color tspeed ease 0s
      font www-product-font
      color link-color
      text-shadow #FFF 0px 2px 1px
      line-height 24px
    
    .desc
      font product-info-font
      color product-subtitle-color
      text-shadow #FFF 0px 2px 1px
      line-height 13px
      
    &:hover .title
      color selection-color !important

    &:hover .icon
      transform scale(1.2)
      
.more-wrapper
  text-align center
  text-shadow #FFF 0px 2px 1px
  font-size 14px
  
  .more-box
    padding 0px 40px
    display inline-block
    
    .generic-separator
      margin-bottom 10px
    
    .more-extension
      padding: 0px 20px
  
