/* techstack-icon-color = #ccc */

#page-www-index {
  #welcome {  /* homepage does not need explanatory welcome icon */
    display: none;
  }
}

.page-icon {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  color: #ccc;  /* techstack-icon-color */
}

.icon-box {
  width: 400px;
  margin: 40px auto;
  display: block;
  text-align: center;
  text-decoration: none !important;

  .face {
    transition: all 0.2s ease;
    margin: auto;
    width: 260px;
  }

  .title {
    display: inline-block;
    font: bold 48px 'Play', arial, serif;  /* product-title-font */
    color: #4f6393;  /* link-color */
    text-shadow: #fff 0 2px 1px;
    line-height: 42px;
    text-decoration: none;
  }

  .subtitle {
    position: relative;  /* Expanded relative() */
    display: inline-block;
    font: 18px 'Play', arial, serif;  /* product-subtitle-font */
    color: #303137;  /* product-subtitle-color */
    text-shadow: #fff 0 2px 1px;
    line-height: 24px;
  }

  .tech {
    display: none;
    text-shadow: #fff 0 2px 1px;
    margin-top: 6px;

    i {
      font-size: 24px;
      color: #ccc;  /* techstack-icon-color */
    }
  }

  &:hover .title {
    color: #0f56b3 !important;  /* selection-color */
  }

  &:hover .face {
    transform: scale(1.15);
  }
}

.products-wrapper {
  text-align: center;
}

.products {
  display: inline-block;
  margin: auto;

  .product {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 170px;
    height: 130px;
    display: inline-block;
    text-decoration: none !important;

    .icon {
      width: 80px;
      height: 80px;
      transition: all 0.2s ease;
      display: block;
      margin: auto;
    }

    .title {
      transition: color 0.5s ease 0s;  /* tspeed */
      font: bold 20px 'Play', arial, serif;  /* www-product-font */
      color: #4f6393;  /* link-color */
      text-shadow: #fff 0 2px 1px;
      line-height: 24px;
      display: block;
    }

    .desc {
      font: 10px 'Play', arial, serif;  /* product-info-font */
      color: #303137;  /* product-subtitle-color */
      text-shadow: #fff 0 2px 1px;
      line-height: 13px;
      display: block;
    }

    .tech {
      display: none;
      text-shadow: #fff 0 2px 1px;
      margin-top: 6px;

      i {
        font-size: 18px;
        color: #ccc;  /* techstack-icon-color */
      }
    }

    &:hover .title {
      color: #0f56b3 !important;  /* selection-color */
    }

    &:hover .icon {
      transform: scale(1.2);
    }
  }
}

.more-wrapper {
  text-align: center;
  text-shadow: #fff 0 2px 1px;
  font-size: 14px;

  .more-box {
    padding: 0 40px;
    display: inline-block;

    .generic-separator {
      margin-bottom: 10px;
    }

    .more-extension {
      padding: 2px 20px;

      i {
        padding-right: 6px;
      }

      a {
        color: #999;
      }
    }
  }
}
