---
layout: default
menu: blog
meta_title: The blog from BinaryAge
meta_keywords: blog,ideas,binaryage,productivity,software,web,development
meta_description: Sharing ideas about software, products and cool stuff from BinaryAge
meta_image: https://www.binaryage.com/shared/img/icons/binaryage-badge-256.png
products: [
  { title: "TotalFinder", url: "https://totalfinder.binaryage.com", info: "Adds tabs to your Finder.app!" },
  { title: "TotalSpaces", url: "https://totalspaces.binaryage.com", info: "The ultimate desktop manager" }
]
---

<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="blog-content">
          {{content}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="blog-side">
          <div class="blog-side-box blog-side-products">
            {% for product in layout.products %}
            <div class="blog-side-product">
              <a href="{{product.url}}">
                <img src="/shared/img/icons/{{product.title|downcase}}-64.png" width="38" height="38"/>
                <span class="title">{{ product.title }}</span>
                <span class="info">{{ product.info }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
