---
layout: default
menu: blog
meta_title: The blog from BinaryAge
meta_keywords: blog,ideas,binaryage,productivity,software,web,development
meta_description: Sharing ideas about software, products and cool stuff from BinaryAge
meta_image: http://www.binaryage.com/shared/img/icons/binaryage-badge-256.png
products: [
  { title: "TotalFinder", url: "http://totalfinder.binaryage.com", info: "Adds tabs to your Finder.app!" },
  { title: "TotalSpaces", url: "http://totalspaces.binaryage.com", info: "The ultimate desktop manager" },
  { title: "TotalTerminal", url: "http://totalterminal.binaryage.com", info: "A Quake-style Terminal window" },
  { title: "FireQuery", url: "http://firequery.binaryage.com", info: "jQuery development in Firebug" },
  { title: "FireLogger", url: "http://firelogger.binaryage.com", info: "Realtime logging into Firebug" },
  { title: "FireRainbow", url: "http://firerainbow.binaryage.com", info: "A syntax highlighting for Firebug" }
]
---

<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="blog-content">
          {{content}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="blog-side">
          <div class="blog-side-box blog-side-follow">
            <a href="http://twitter.com/binaryage" class="twitter-follow-button" data-show-count="true">Follow @binaryage</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
          </div>
          <div class="blog-side-box blog-side-subscribe">
            <a href="http://feeds.feedburner.com/binaryage-blog" rel="alternate" type="application/rss+xml"><div class="blog-side-icon blog-rss-icon"/></div></a>
            <a href="http://feeds.feedburner.com/binaryage-blog" rel="alternate" type="application/rss+xml">Subscribe</a>
            <div class="subscribe-button">
              <a href="http://feeds.feedburner.com/binaryage-blog"><img src="http://feeds.feedburner.com/~fc/binaryage-blog?bg=dddddd&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
            </div>
          </div>
          <div class="blog-side-box blog-side-products">
            {% for product in page.products %}
            <div class="blog-side-product">
              <a href="{{product.url}}">
                <img src="/shared/img/icons/{{product.title|downcase}}-64.png" width="38" height="38"/>
                <span class="title">{{ product.title }}</span>
                <span class="info">{{ product.info }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>