---
layout: blog
disqus_short_name: binaryage
disqus_url: http://blog.binaryage.com
---

<div class="row">
  <div class="col-md-2">
    <div class="blog-leftbar">
      <a class="back-button" href="/">« back to articles</a>
    </div>
    <div class="content-leftbar">
      <div class="article-info">
        <span class="article-posted">published</span>
        <span class="article-date">on {{page.date | date: '%B %d, %Y'}}</span>
        <span class="article-author">by <a href="{{page.author_uri}}">{{page.author_name}}</a></span>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div id="post">
      <div class="post-titlebar">
        <span class="post-title">{{ page.title }}</span>
      </div>
      <div class="generic-separator"></div>
      <div class="post-content">
        {{ content }}
      </div>
    </div>
    <div class="generic-separator"></div>
    <div id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{layout.disqus_short_name}}'; // required: replace example with your forum shortname
        var disqus_url = "{{layout.disqus_url}}{{page.url}}";
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>    
  </div>
</div>

<script>
  defer$(function() {
    $(".blog-image").wrap(function() {
      return $("<a class='wrapped-blog-image' data-fancybox-group='blog'></div>")
        .attr('href', $(this).attr('src'))
        .attr('title', $(this).attr('title'));
    });
    $(".wrapped-blog-image").fancybox();
  });
</script>
