---
layout: doc
product_title: TotalFinder
---

{% contentfor doc-header %}
<a href="/" class="doc-back-link"><img src="/shared/img/icons/totalfinder-64.png"><span>TotalFinder homepage &uarr;</span></a>
{% endcontentfor %}

{% contentfor sidebar %}
<h2>Change log</h2>
<ul>
  <li><a href="/changes" data-alt="/beta-changes">Recent changes</a></li>
</ul>

<h2>Before installing</h2>
<ul>
  <li><a href="/about">About TotalFinder</a></li>
  <li><a href="/installation">Installation</a></li>
  <li><a href="/uninstallation">Uninstallation</a></li>
  <li><a href="/licensing">Licensing</a></li>
  <li><a href="/purchasing">Purchasing</a></li>
  <li><a href="/registration">Registration</a></li>
</ul>

<h2>Features</h2>
<ul>
  <li><a href="/tabs">Tabs</a></li>
  <li><a href="/dual-mode">Dual mode</a></li>
  <li><a href="/visor">Visor</a></li>
  <li><a href="/show-system-files">Show system files</a></li>
  <li><a href="/colored-labels">Colored Labels</a></li>
  <li><a href="/folders-on-top">Folders on top</a></li>
  <li><a href="/menus">Context Menus</a></li>
  <li><a href="/tweaks">Other Tweaks</a></li>
</ul>

<h2>More</h2>
<ul>
  <li><a href="/compatibility">Compatibility</a></li>
  <li><a href="/sip">System Integrity Protection</a></li>
  <li><a href="/reasons-to-buy">Reasons to buy</a></li>
  <li><a href="/free-licenses">Free licenses</a></li>
  <li><a href="/credits">Credits</a></li>
</ul>
{% endcontentfor %}

{{content}}

<script>
  defer$(function() {
    $(function() {
      $(".doc-image").wrap(function() {
        return $("<a class='wrapped-doc-image' data-fancybox-group='doc'></div>")
          .attr('href', $(this).attr('src'))
          .attr('title', $(this).attr('title'))
          ;
      });
      $(".wrapped-doc-image").fancybox();
    });
  });
</script>
