---
layout: doc
product_title: TotalFinder
menu: products
si-markup: '<i class="fa-li fa fa-circle-o"></i>'
---

{% contentfor sidebar %}

<h2>Change log</h2>
<ul class="fa-ul">
  <li><a href="/changes" data-alt="/beta-changes">{{page.si-markup}}Recent changes</a></li>
</ul>

<h2>Before installing</h2>
<ul class="fa-ul">
  <li><a href="/about">{{page.si-markup}}About TotalFinder</a></li>
  <li><a href="/installation">{{page.si-markup}}Installation</a></li>
  <li><a href="/uninstallation">{{page.si-markup}}Uninstallation</a></li>
  <li><a href="/licensing">{{page.si-markup}}Licensing</a></li>
  <li><a href="/purchasing">{{page.si-markup}}Purchasing</a></li>
  <li><a href="/registration">{{page.si-markup}}Registration</a></li>
</ul>

<h2>Features</h2>
<ul class="fa-ul">
  <li><a href="/dock">{{page.si-markup}}Dock</a></li>
  <li><a href="/menus">{{page.si-markup}}Menus</a></li>
  <li><a href="/visor">{{page.si-markup}}Visor</a></li>
  <li><a href="/browser">{{page.si-markup}}File Browser</a></li>
  <li><a href="/sidebar">{{page.si-markup}}Sidebar</a></li>
  <li><a href="/tabs">{{page.si-markup}}Tabs</a></li>
  <li><a href="/dual-mode">{{page.si-markup}}Dual mode</a></li>
  <li><a href="/folders-on-top">{{page.si-markup}}Folders on top</a></li>
  <li><a href="/show-system-files">{{page.si-markup}}Show system files</a></li>
  <li><a href="/colored-labels">{{page.si-markup}}Colored Labels</a></li>
  <li><a href="/tweaks">{{page.si-markup}}Other Tweaks</a></li>
</ul>

<h2>Other</h2>
<ul class="fa-ul">
  <li><a href="/reasons-to-buy">{{page.si-markup}}Reasons to buy</a></li>
  <li><a href="/free-licenses">{{page.si-markup}}Free licenses</a></li>
  <li><a href="/credits">{{page.si-markup}}Credits</a></li>
</ul>

{% endcontentfor %}

{{content}}