---
layout: default
menu: products
---

<div id="product-totalfinder" class="main-product">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-logo-box">
          <img class="product-icon" src="/shared/img/icons/{{page.product_title|downcase}}-256.png">
          <div class="product-tagline">
            <h1 class="product-title">{{page.product_title}}</h1>
            <h2 class="product-subtitle">{{page.product_subtitle}}</h2>
            <div class="product-social">
              {% if page.product-fblike %}
              <div class="fblike-wrapper">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
              </div>
              {% endif %}
              {% if page.product-tweet %}
              <div class="twitter-wrapper">
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
              {% endif %}
              {% if page.product-plusone %}
              <div class="plusone-wrapper">
                <g:plusone size="medium"></g:plusone>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-buttons">
          <div class="button-container">
            <a href="{{page.download}}" id="o-download-button" class="button product-button-download">
              <span><i class="fa fa-download fa-lg"></i><span class="trial-note">14-day trial</span>{{page.downloadtitle}}</span>
            </a>
            <div class="button-note">
              <i class="fa fa-laptop"></i> Compatible with OS X 10.8 and 10.9<br>
              <a href="/free-licenses"><i class="fa fa-trash-o"></i> Looking for an older version?</a><br>
              <a href="/free-licenses"><i class="fa fa-flask"></i> Looking for a beta version?</a>
            </div>
          </div>
          <div class="button-container">
            <a id="o-buy" rel="#buy" class="button product-button-buy">
              <span><i class="fa fa-heart fa-lg"></i>Buy TotalFinder</span>
            </a>
            <div class="button-note">
              <a href="http://blog.binaryage.com/trade-totalfinder-bitcoin"><i class="fa fa-btc"></i> Buy for bitcoin</a><br>
              <a href="/free-licenses"><i class="fa fa-gift"></i> Apply for a free license</a><br>
              <a href="/reasons-to-buy"><i class="fa fa-smile-o"></i> Good reasons for buying</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="showcase-totalfinder" class="main-showcase">
  <div class="container">
    <div class="row">
      <div class="generic-separator"></div>
      <div class="col-md-4">
        <div class="highlights">
          {% for highlight in page.highlights %}
          <div class="highlight{% if highlight.screenshot %} highlight-selectable{% endif %} {% if forloop.index0 == 0 %}active{% endif %}" {% if highlight.screenshot %}data-showcase="{{highlight.screenshot}}"{% endif %}>
            <div class="highlight-icon" title="{{highlight.tooltip}}">
              <div class="{{highlight.klass}}"></div>
            </div>
            <div class="highlight-content wf">
              <h3>{{highlight.title}}</h3>
              <p>{{highlight.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="showcase">
          <div class="main-screenshot">
            {% for shot in page.shots %}
            <div id="screenshot-box-{{forloop.index}}" class="screenshot-box {{shot.klass}}" {% if forloop.index0 > 0 %}style="display:none"{% endif %}>
              <a id="o-shot{{forloop.index}}" href="{{shot.full}}" data-fancybox-group="gallery" class="screenshot" title="{{shot.title}}">
                <img src="{{shot.thumb}}">
                <div class="zoom-icon"></div>
              </a>
            </div>
            {% endfor %}
          </div>
          <!-- <div class="screenshot-controls">
            <div class="navi"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content-totalfinder" class="main-content">
  <div class="container">
    {{ content }}
  </div>
</div>

<div id="teaser" class="overlay" style="display:none">
  <OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="640" height="375" CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab">
    <PARAM name="SRC" VALUE="http://cdn.binaryage.com/totalfinder-teaser.mov">
    <PARAM name="AUTOPLAY" VALUE="true">
    <EMBED SRC="http://cdn.binaryage.com/totalfinder-teaser.mov" width="640" height="375" AUTOPLAY="true" PLUGINSPAGE="http://www.apple.com/quicktime/download/"></EMBED>
  </OBJECT>
</div>

<div id="buy" class="overlay" style="display:none">
  <a href="https://sites.fastspring.com/binaryage/instant/totalfinder">
    <div class="buy-single explanation-box">
      <div class="title">Single License</div>
      <div class="image"><img src="/shared/img2/single-license-icon.png"></div>
      <div class="deal">Happy to pay the standard price?<br/>This is the way to go.</div>
      <div class="button">
        <span>Buy single</span><span class="price-tag">$18</span>
      </div>
    </div>
  </a>
  <a href="https://sites.fastspring.com/binaryage/instant/totalfinder-friends">
    <div class="buy-pack explanation-box">
      <div class="title">3-License Pack</div>
      <div class="image"><img src="/shared/img2/tripple-license-icon.png"></div>
      <div class="deal">Want a discount? Buy 3-pack for $36.<br/>
      Keep one license for yourself, and give two links to your friends or family members.
      Then all three of you can share in the savings of only $12 per license!
      </div>
      <div class="button">
        <span>Buy 3-pack</span><span class="price-tag">$36</span>
      </div>
    </div>
  </a>
</div>

<script type="text/javascript">
  $(function() {
    $("#o-teaser").fancybox({
      href: "#teaser"
    });
    $("#o-buy").fancybox({
      href: "#buy"
    });
    $("#o-download-button").bind('click', function(e) {
      ga('send', 'pageview', '/overlays/o-download');
    });
    $('.screenshot').fancybox();
    $('.screenshot-box').navigen({
      target: $(".navi")
    });
    $('.highlight').showcase({
    });
  });
</script>