---
layout: default
satisfaction: 1
product_title: TotalSpaces
menu: products
---

<div class="doc-content">
    <div class="container">
        <div class="sidebar">
            <div class="header-sidebar">
                <div class="back"><a class="back-button" href="/index2">« Back to Homepage</a></div>
                <div class="hseparator"></div>
            </div>
            
            <h2>Release notes</h2> 
            <ul> 
                <li><a href="/changes2">Latest changes</a></li> 
            </ul> 
            <h2>About TotalSpaces2</h2> 
            <ul> 
                <li><a href="/documentation2">What is TotalSpaces2</a></li> 
                <li><a href="/layout2">Grid Layout</a></li> 
                <li><a href="/overview2">Overview grid</a></li> 
                <li><a href="/overview-backgrounds2">Overview grid backgrounds</a></li> 
                <li><a href="/navigation2">Navigation</a></li> 
                <li><a href="/multi-monitors2">Multi-monitors</a></li> 
                <li><a href="/hotkeys2">Hotkeys</a></li> 
                <li><a href="/swipe2">Swiping</a></li>
                <li><a href="/mouse-edges2">Mouse navigation</a></li>
                <li><a href="/transitions2">Transitions</a></li> 
                <li><a href="/hotcorners2">Hot corners</a></li>
                <li><a href="/apps2">App assignments</a></li>                
                <li><a href="/full-screen-desktops2">Full screen desktops</a></li> 
                <li><a href="/overview-grid-app2">Overview grid app</a></li>
                <li><a href="/faq2">FAQ</a></li> 
            </ul> 
            <h2>Articles</h2>
            <ul>
              <li><a href="/differences2">Differences from TotalSpaces</a></li> 
            </ul>
            <h2>Licenses</h2> 
            <ul> 
                <li><a href="/upgrade">Upgrading your licence</a></li>
                <li><a href="/licensing2">Licensing</a></li> 
                <li><a href="/registration2">Registration</a></li> 
            </ul> 

            <div class="vseparator-top"></div>
            <div class="vseparator-body"></div>
            <div class="vseparator-bottom"></div>
        </div>
        <div class="page-content doc-page">
            <div class="header-content">
                <h1 class="title">{{page.subtitle}}</h1>
                <div class="hseparator"></div>
            </div>
            
            {{ content }}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(".hoverable-input").bind('click', function(e){
            this.select();
        });
        
        // mark selected item, timeout needed for dev transformation of urls
        setTimeout(function() {
            var loc = document.location.pathname+"";
            var item = $('.sidebar a[href*="'+loc+'"]');
            item.parent().addClass('selected');
        }, 100);
    });
</script>