---
layout: doc
product_title: TotalSpaces2
---

{% contentfor sidebar %}

<h2>Change log</h2>
<ul class="fa-ul">
  <li><a href="/changes2" data-alt="/beta-changes">Recent changes</a></li>
</ul>

<h2>About TotalSpaces2</h2>
<ul class="fa-ul">
        <li><a href="/documentation2">What is TotalSpaces2</a></li> 
        <li><a href="/layout2">Grid Layout</a></li> 
        <li><a href="/overview2">Overview grid</a></li> 
        <li><a href="/overview-backgrounds2">Overview grid backgrounds</a></li> 
        <li><a href="/navigation2">Navigation</a></li> 
        <li><a href="/multi-monitors2">Multi-monitors</a></li> 
        <li><a href="/hotkeys2">Hotkeys</a></li> 
        <li><a href="/swipe2">Swiping</a></li>
        <li><a href="/mouse-edges2">Mouse navigation</a></li>
        <li><a href="/transitions2">Transitions</a></li> 
        <li><a href="/hotcorners2">Hot corners</a></li>
        <li><a href="/apps2">App assignments</a></li>        
        <li><a href="/full-screen-desktops2">Full screen desktops</a></li> 
        <li><a href="/overview-grid-app2">Overview grid app</a></li>
        <li><a href="/defaults-settings2">Defaults settings</a></li>
        <li><a href="/faq2">FAQ</a></li> 
      </ul> 
</ul>

<h2>Articles</h2>
<ul class="fa-ul">
        <li><a href="/differences2">Differences from TotalSpaces</a></li> 
        <li><a href="/older-versions">TotalSpaces for Lion and Mountain Lion</a></li> 
</ul>
<h2>Licenses</h2> 
<ul class="fa-ul">
        <li><a href="/upgrade">Upgrading your licence</a></li>
        <li><a href="/licensing2">Licensing</a></li> 
        <li><a href="/registration2">Registration</a></li> 
</ul> 


{% endcontentfor %}

{{content}}

<script>
$(function() {
  $(".doc-image").wrap(function() {
    return $("<a class='wrapped-doc-image' data-fancybox-group='doc'></div>")
      .attr('href', $(this).attr('src'))
      .attr('title', $(this).attr('title'))
      ;
  });
  $(".wrapped-doc-image").fancybox();
});
</script>
