---
layout: doc
product_title: TotalSpaces2
si-markup: '<i class="fa-li fa fa-circle-o"></i>'
---

{% contentfor sidebar %}

<h2>Change log</h2>
<ul class="fa-ul">
  <li><a href="/changes2" data-alt="/beta-changes">{{page.si-markup}}Recent changes</a></li>
</ul>

<h2>About TotalSpaces2</h2>
<ul class="fa-ul">
        <li><a href="/documentation2">{{page.si-markup}}What is TotalSpaces2</a></li> 
        <li><a href="/layout2">{{page.si-markup}}Grid Layout</a></li> 
        <li><a href="/overview2">{{page.si-markup}}Overview grid</a></li> 
        <li><a href="/overview-backgrounds2">{{page.si-markup}}Overview grid backgrounds</a></li> 
        <li><a href="/navigation2">{{page.si-markup}}Navigation</a></li> 
        <li><a href="/multi-monitors2">{{page.si-markup}}Multi-monitors</a></li> 
        <li><a href="/hotkeys2">{{page.si-markup}}Hotkeys</a></li> 
        <li><a href="/swipe2">{{page.si-markup}}Swiping</a></li>
        <li><a href="/mouse-edges2">{{page.si-markup}}Mouse navigation</a></li>
        <li><a href="/transitions2">{{page.si-markup}}Transitions</a></li> 
        <li><a href="/hotcorners2">{{page.si-markup}}Hot corners</a></li>
        <li><a href="/apps2">{{page.si-markup}}App assignments</a></li>        
        <li><a href="/full-screen-desktops2">{{page.si-markup}}Full screen desktops</a></li> 
        <li><a href="/overview-grid-app2">{{page.si-markup}}Overview grid app</a></li>
        <li><a href="/defaults-settings2">{{page.si-markup}}Defaults settings</a></li>
        <li><a href="/faq2">{{page.si-markup}}FAQ</a></li> 
      </ul> 
</ul>

<h2>Articles</h2>
<ul class="fa-ul">
        <li><a href="/differences2">{{page.si-markup}}Differences from TotalSpaces</a></li> 
        <li><a href="/older-versions">{{page.si-markup}}TotalSpaces for Lion and Mountain Lion</a></li> 
</ul>
<h2>Licenses</h2> 
<ul class="fa-ul">
        <li><a href="/upgrade">{{page.si-markup}}Upgrading your licence</a></li>
        <li><a href="/licensing2">{{page.si-markup}}Licensing</a></li> 
        <li><a href="/registration2">{{page.si-markup}}Registration</a></li> 
</ul> 


{% endcontentfor %}

{{content}}

<script>
$(function() {
  $(".doc-image").wrap(function() {
    return $("<a class='wrapped-doc-image' data-fancybox-group='doc'></div>")
      .attr('href', $(this).attr('src'))
      .attr('title', $(this).attr('title'))
      ;
  });
  $(".wrapped-doc-image").fancybox();
});
</script>
