{% if site.anchors or layout.anchors %}
<script type="text/javascript" charset="utf-8">
  defer$(function() {
    // add special add-anchor class to auto-anchored elements
    var autoAnchors = '{% if layout.auto-anchors %}{{ layout.auto-anchors }}{% else %}{{site.auto-anchors}}{% endif %}';
    $(autoAnchors).addClass('add-anchor');

    // hoverable anchor links
    var rootSelector = '{% if layout.anchors %}{{ layout.anchors }}{% else %}{{site.anchors}}{% endif %}';
    var octoIcon = '<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path> </svg>';
    var $candidates = $(rootSelector+' h2,h3,h4,h5,h6,.add-anchor');
    var $anchorables = $candidates.not($candidates.children());

    $anchorables.each(function () {
      var $this = $(this);
      var title = $this.text();
      if (title=="") {
        title = $this.attr('id') || $this.attr('title') || $this.attr('src');
      }
      if (!title || title=="") {
        var src = $this.find('.doc-image').attr('src');
        if (src) {
          var parts = src.split('/');
          if (parts.length>0) {
            var last = parts[parts.length-1];
            title = last.replace(/[/.]/g, ' ');
          }
        }
      }
      if (!title || title=="") {
        return;
      }
      var slug = title.toLowerCase().replace(/[ _-]/g, ' ').split(' ', 10).join('D').replace(/\W/g, '').replace(/D+/g, '-').replace(/^-+/g, '');
      $this.prepend('<a id="'+slug+'" href="#'+slug+'" class="anchor" aria-hidden="true">'+octoIcon+'</a>');
    });

    // highlighting stuff
    var highlightSection = function(id) {
      $('.highlighted-section').removeClass('highlighted-section');
      var selector = "#"+id;
      if (selector!="#") {
        $(selector).parent().addClass('highlighted-section');
      }
    };

    var hashToId = function() {
      return window.location.hash.slice(1)
    };

    // register highligting on hashchange
    $(window).on("hashchange", function() {
      highlightSection(hashToId());
    });

    // initial highliting
    highlightSection(hashToId());
  });
</script>
{% endif %}
