{% contentfor header-logo %}
<div class="relativize">
  <a href="//www.binaryage.com" title="BinaryAge Software">
    {% include logo.html %}
  </a>
</div>
{% endcontentfor %}

{% contentfor header-menu %}
<div class="relativize">
  <ul class="header-menu menu-selected-{% if page.menu %}{{page.menu}}{% else %}{{layout.menu}}{% endif %}">
    <li class="menu-item-store"><a href="https://sites.fastspring.com/binaryage/product/store"><i class="fa fa-shopping-cart"></i><span>store</span></a></li>
    <li class="menu-item-products"><a href="//www.binaryage.com"><i class="fa fa-star"></i><span>products</span></a></li>
    <li class="menu-item-blog"><a href="//blog.binaryage.com"><i class="fa fa-bullhorn"></i><span>blog</span></a></li>
    <li class="menu-item-support"><a href="//discuss.binaryage.com"><i class="fa fa-comments"></i><span>support</span></a></li>
  </ul>
</div>
{% endcontentfor %}

{% contentfor header %}
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% firstcontentblock header-logo %}
        {% firstcontentblock header-menu %}
      </div>
    </div>
  </div>
</div>
{% endcontentfor %}

{% firstcontentblock header %}
